{% extends 'core/base.html' %} <!-- as mentioned, uses the base.html as the template for these pages -->

<!-- This block also transferred to base.html as the title block-->
{% block title %}Dashboard{% endblock %} <!-- TODO figure out how to put the user's name in front of 'Dashboard'-->

<!-- This block gets automatically rendered in the corresponding base.html part -->
<!-- Available Items Portion of the Front Page -->
{% block content %}
    <div class="mt-0 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-3xl text-center font-semibold">{{ user.username }}'s items</h2>

        <div class="grid grid-cols-3 gap-3"> <!-- This part is for showing the items -->
            {% for item in items %}
                <div>
                    <a href="{% url 'item:detail' item.id %}"> <!-- This is linking to each item when clicked on! -->
                        <div>
                            <img src="{{ item.image.url }}" class="rounded-t-xl">
                        </div>

                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-2xl"><strong>{{ item.name }}</strong></h2>
                            <p class="text-gray-700">Price: ${{ item.price | floatformat:2 }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}