{% extends 'core/base.html' %}

<!-- This block also transferred to base.html as the title block-->
{% block title %}About TAK Computers{% endblock %}

<!-- This block gets automatically rendered in the corresponding base.html part -->
<!--Maybe for this page I was thinking we could make up some bs about the company/inventory management system, put like a random related picture -->
{% block content %}

    <h1 class="mb-12 text-3xl font-bold">About TAK Computers</h1>
    <p>TAK Computers is a computer hardware parts seller based in Windsor, Ontario. Our goal
        is to provide customers the most modern, high quality computer hardware parts to meet 
        a wide variety of needs. <br><br>
        We have developed an inventory management website to meet the fast-growing demands from customers.
        This system allows us to add and categroize products for sale, as well as lets us browse products based 
        on category. Each product has a description with a price, and upon selecting a particular product to view,
        the website will also show you similar products. Products can be added and removed with ease,
        making this an efficient yet easy to use website for inventory management.
    </p>

    <div class="mt-0 px-6 py-6 bg-gray-100 rounded-xl">
        <div class="image-container">
            <p><img src="/media/item_images/windsor.jpg" alt="Picture of Windsor" width="700px"></p>
            <h6><em>Windsor, Ontario, Canada</em></h6>
        </div>
    </div>

{% endblock %}