{% extends 'core/base.html' %}

{% block title %}Privacy Policy{% endblock %}

<!-- This block gets automatically rendered in the corresponding base.html part -->
<!--Maybe for this page I was thinking we could make up some bs about the company/inventory management system, put like a random related picture -->
{% block content %}

    <h1 class="mb-12 text-3xl font-bold">TAK Computers Privacy Policy</h1>

    <div class="mt-0 px-6 py-6 bg-gray-100 rounded-xl">

    <p style="font-family: 'Helvetica', Arial, sans-serif;">
       At TAK Computers we know how important it is to protect your personal information. When you make an account on 
       the website, your information is safely stored in a secure database. We collect information you give to us
       such as your: 
       
       <br><ul style="margin-left: 40px; font-family: 'Helvetica', Arial, sans-serif;"">
        <br><li> - <strong>Name</strong></li>
        <li> - <strong>Email</strong></li>
        <li> - <strong>Phone Number</strong></li>
        <li> - <strong>Address</strong></li>
       </ul> <br>
    
    
       We do not share, sell, or rent your personal information to any third parties, except as required by law or with your explicit consent. 
       Your data may be used for internal analysis, system maintenance, and to enhance your user experience. We utilize industry-standard security 
       measures to protect your information from unauthorized access, disclosure, or alteration. By using our website, you consent to the terms of 
       this Privacy Policy. If you have any questions or concerns regarding your data or this policy, please contact us. Contact information 
       can be found on the 'Contact Us' page.  
    </p>
   
</div>
    </div>
{% endblock %}